* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: block;
}
.logo {
    background: #de8b07;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.logo img{
    width: 10%;
}

.Lista {
    display: block;
    justify-content: center;
    color: white;
    padding: 1rem;
    background: #eca935;
}
.Lista ul{
    display: flex;
    justify-content: space-around;
}
.Lista ul li {
    list-style: none;
}
.Lista ul li a{
    padding: 2rem;
    text-decoration: none;
    color: white;
    font-size: x-large;
}

.Lista ul li a:hover{
    padding: 1rem;
    margin: 1rem;
    background: #de8c0767;
    border-radius: 8px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .logo {
        background: #de8b07;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .logo img{
        width: 20%;
    }
    
    .Lista {
        color: white;
    }
    .Lista ul{
        display: flex;
        justify-content: space-around;
    }
    .Lista ul li {
        list-style: none;
    }
    .Lista ul li a{
        text-decoration: none;
        color: white;
        font-size: small;
    }

    .Lista ul li a:hover{
        padding: 1rem;
        margin: 1rem;
        background: #de8c0767;
        border-radius: 8px;
    }  
}

/*Main*/

.SerV{
    color: #842603;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.Contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Diseños{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Diseños{
    background: #de8b07;
    width: 30%;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 7px 7px 12px #842603;
}

.Diseños img{
    width: 40%;
    padding: 0.5rem;
    border-radius: 1rem;
}
.Diseños h2{
    color: white;
    margin: 0.8rem;
}
.Diseños p{
    color: white;
    font-size: medium
}
@media screen and (min-width: 320px) and (max-width: 768px){
    .SerV{
        color: #842603;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
    .SerV h1{
        font-size: large;
    }
    
    .Contenedor {
        display: block;
        justify-content: space-around;
        align-items: center;
    }
    
    .Diseños{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .Diseños{
        background: #de8b07;
        width: 78%;
        margin: 1rem;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 7px 7px 12px #842603;
    }
    
    .Diseños img{
        width: 40%;
        padding: 0.5rem;
        border-radius: 1rem;
    }
    .Diseños h2{
        color: white;
        margin: 0.8rem;
    }
    .Diseños p{
        color: white;
    }
       
}
/*Footer*/

footer{
    display: block;
}

.Elementos {
    padding: 1rem;
    font-size: larger;
    color: white;
    display: flex;
    justify-content: space-around;
    background: #DE8B07;
}

.Elementos label{
    padding-top: 1.2rem;
}

.Elementos img{
    width: 3%;
    padding-top: 0;
}

.Derechos {
    background: #842603;
    color: white;
    display: flex;
    padding: 1rem;
}

.Derechos a {
    color: white;
    text-decoration: none;
    padding-left: 0.5rem;
}

.Elementos a{
    text-decoration: none;
    color: white;
} 


@media screen and (min-width: 320px) and (max-width: 768px) {
    .Elementos{   
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .Elementos img{
        padding-top: 0.1rem;
        width: 0%;
    }
    .Elementos label {
        font-size: medium;
        padding: 0.5rem;
    }

    .Derechos {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: small;
    }
}

body::-webkit-scrollbar{
    width: 0.5rem;
    background-color: white;
}


body::-webkit-scrollbar-thumb{
    background: #842603;
    border-radius: 2rem;
}
